html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
  }
  * {
    outline: 1px solid red;
    box-sizing: border-box;
  }  
body {
    font-family: 'Lucida Console', 'Open Sans', sans-serif;
    font-size: 2rem;
    background-color: #47476b;
    background-image: url("https://i.imgur.com/qle194G.jpeg");    
    margin: 0;
    padding: 0;    
  }      

img {
  max-width: 100%;
  max-height: 100%;
}
.text-color-white {
  color:#ffffff;
}

  /* navbar */
header {
  background-color: #0b060e;
  height: 6rem;
  width: 100%;
  position:fixed;
  z-index: 1;
  display:flex;
}

#header {
  border: 1px solid #0b060e;
  border-radius: 17%;  
  
  
}  
nav {
  font-size: 2rem;
}
.logo-image {
  width: 8rem;
  height: 5rem;
  border-radius: 50%;  
  overflow: hidden;  
}  
.logo-image img {
  height: 100%;
}
.nav-bar {
  display: flex;  
  align-items: center;
  justify-content: center;
}
.nav-buttons {  
  text-align: center;
  display: flex;  
  list-style: none;
  justify-content: center;
  font-family:'Lucida Console'; 
  

}

.nav-bar li {
  margin-left: 3rem;
  
}
.nav-bar a {
  text-decoration: none;
}
.nav-buttons  li:hover{
  transform: scale(1.1);
}
.menu-button {
  position: absolute;
  top: 2rem;
  right: 3rem;  
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;
  
}
.menu-button .line {
  height: 3px;
  width: 100%;
  background-color: #9422d6;
  border-radius: 1rem;

}



/* hero image */

.hero-image {
    height: 95rem;
    width: 100%; 
    background: #444444;
    background-image: url("../img/hero1.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.hero-text {
  font-size: 4.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color:#5dd3d3;
  max-width: 90%; 
  font-family:'Lucida Console';
}


/* Home text and image */

.home-text {
  width: 90%;
  font-family: 'Lucida Console', monospace;
  text-align: justify;
  display: flex;  
  padding: 1rem;
  margin: 1.5rem;
  font-size: 1.5rem;
}
.home-img {
  width: 65rem;
  margin: 1.5rem;
  display: flex;   

}
.home-div {
  display: flex; 
  margin: 1.5rem; 

}


/* Tips section */ 

.text-position {
  margin: 3rem 2rem;
  padding: 1rem 3rem; 
  width: 90%; 
  display: flex;
  flex-direction: column;
  
}



/* gallery */

.hero-image-gallery {
  height: 95rem;
  width: 100%; 
  background: #444444;
  background-image: url("../img/hero2.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;    
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.gallery {
  margin: 3rem 1rem;   
  display: inline;    
}

.box-shadow {
  box-shadow: rgba(136, 12, 136, 0.35) 0px 5px 15px;
  width: 500px;
  margin: 10px 10px;
}
img.box-shadow:hover {
  box-shadow: rgba(136, 12, 136, 0.35) 10px 15px 25px;  

}
/* Download section */

.download-div {
  display: flex;
  flex-direction: row;
  justify-content: center;   
  max-width: 100%;
  margin: 3rem 0;
}
.download-recommended {
  max-width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.download-recommended h3 {
  word-break: break-all;
}
.download-box {
  max-width: 100%;
  height: 4rem;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #47476b;
  border-radius: 50%;
  justify-content: center;
}

/* footer */


#footer {
  background: #0b060e;
  height: 10rem;
  width: 100%;
  font-family: 'Lucida Console';
  color: #ffffff;
  padding: 2rem;
  text-align:center;
  margin: 0;
     
 }
 #footer a {
  text-decoration: none;
 }

 /* media */

 @media (max-width: 40rem) {
  .menu-button {
    display: flex;
   }  
  
  .header {
    flex-direction: column;
    align-items: center;
   }
  .nav-buttons {
    display: none;
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    position: fixed;
    right: 1rem;
    top: 4rem;
    background-color: #0b060e;
    border-radius: 10rem;
   }
  .nav-buttons li {
    text-align: center;
    padding: 1rem;
  
   
   }
   .nav-buttons.active{
    display: flex;
   }
}

@media (max-width: 1200px) {
  .home-text {
    flex-direction: column;   

  }
}