@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Open+Sans&family=Oswald&display=swap');

* {    
  box-sizing: border-box;         
  }  

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;    
  }
  
body {
  font-family:'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #47476b;
  background-image: url("../img/stars.jpeg");    
  margin: 0;
  padding: 0;        
  }

header {
  background-color: #0b060e;
  height: 6rem;
  width: 100%;
  position:fixed;
  z-index: 1;
  display:flex;
  border: 1px solid #0b060e;
  /* I use % because of the shape I wanted to achieve */
  border-radius: 17%;
}

nav {
  font-size: 2rem;
}


  /* navbar */


#logo-image {
  width: 8rem;
  height: 5rem;
  border-radius: 50%;  
  overflow: hidden;  
}

#logo-image img {
  height: 100%;
}

#nav-bar {
  display: flex;  
  align-items: center;
  justify-content: center;
}

#nav-buttons {  
  text-align: center;
  display: flex;  
  list-style: none;
  justify-content: center;  
}

#nav-bar li {
  margin-left: 3rem;  
}

#nav-bar a {
  text-decoration: none;
  color: #ffffff;
}

#nav-buttons  li:hover {
  transform: scale(1.1);
}

#menu-button {
  position: absolute;
  top: 2rem;
  right: 3rem;  
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;  
}

#menu-button #line {
  height: 3px;
  width: 100%;
  background-color: #9422d6;
  border-radius: 1rem;
}


/* hero image */


img {
  max-width: 100%;
  height: auto;
}

.hero-image {
  height: 95rem;
  width: 100%; 
  background: #444444;
  background-image: url("../img/hero1.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;       
  display: flex;
  align-items: center;
  justify-content: center;    
}

.hero-text {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color:#ffffff;
  max-width: 90%;   
  margin-top: 7rem;
  word-wrap: break-word;
}


/* Home text and image */


#home-text {
  width: 90%;  
  text-align: center;
  display: flex;  
  padding: 1rem;
  margin: 1.5rem;  
  color:#ffffff;
}

#home-heading {
  color: #ffffff;
  text-align: center;
  padding: 3rem 0;
  
}

#home-img {
  height: auto;
  max-width: 100%;
  width: 50%;
  margin: 1.5rem;
  display: flex;
}
#home-div {
  display: flex; 
  margin: 1.5rem;
  font-size: 1.7rem;
}


/* Tips section */ 


#text-position {
  margin: 3rem 2rem;
  padding: 1rem 3rem; 
  width: 90%; 
  height: auto;
  display: flex;
  flex-direction: column;   
}

#text-box {
  width: 100%;
  max-width: 100%;
  height: auto;
  color:#ffffff;
}


/* gallery */


#div-gallery {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
}

#hero-image-gallery {
  height: 95rem;
  width: 100%;
  max-width: 100%; 
  background: #444444;
  background-image: url("../img/hero2.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;  
}

.gallery {     
  display: inline;
  justify-content: center;
  height: auto;
  max-width: 100%;     
}

.box-shadow {
  box-shadow: rgba(136, 12, 136, 0.35) 0 .5rem 1.5rem;
  width: 50rem;
  margin: 1rem 0;  
}

img.box-shadow:hover {
  box-shadow: rgba(136, 12, 136, 0.35) 1rem 1.5rem 2.5rem;
}


/* Download section */


.hero-image-download {
  height: 95rem;
  width: 100%; 
  background: #444444;
  background-image: url("../img/warzone-2-landing.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;       
  display: flex;
  align-items: center;
  justify-content: center;    
}

#download-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;   
  width: 90%;
  margin: 3rem 0;  
}

#download-recommended {
  width: 50%;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  color:#ffffff;  
}

#download-recommended h2 {  
  font-size: 3rem;  
}

.download-box {
  width: 22rem;
  height: 10rem;
  margin-top: 7rem;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #47476b;
  border-radius: 15rem;
  justify-content: center;
  background-color: #47476b;
  color: #ffffff;
  text-decoration: none;  
}


/* footer */


#footer {
  background: #0b060e;
  height: 10rem;
  width: 100%;  
  color: #ffffff;
  padding: 2rem;
  text-align:center;
  margin: 0;     
 }

 #footer a {
  text-decoration: none;
  color:#ffffff;
 }

 #footer a:hover {
  text-transform: uppercase;
 }

 #copyright {  
  padding: 1.5rem; 
 }


 /* media */


 

@media (max-width: 1350px) {
  #home-text {
    flex-direction: column;    
  }
  #home-img {
    width: 70%
  }

}

@media (max-width: 950px) {
  #download-div {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;        
  }

  #footer {
    height: auto;
  }

  .download-box {
    width: fit-content;  
  }

  #download-recommended {
    width: 80%;
  }
}

@media (max-width: 590px) {
  #menu-button {
    display: flex;
   }  

  #nav-buttons {
    display: none;
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    right: 1rem;
    top: 4rem;
    background-color: #0b060e;
    border-radius: 10rem;
   }

  #nav-buttons li {
    text-align: center;
    padding: 1rem;   
   }

  #nav-buttons.active{
    display: flex;
   }
   
}

@media (max-width: 500px){
  #hero-image {
    height: 55rem;
    width: 100%;
  }  

  #hero-image-gallery {
    height: 55rem;
  }
 
  #hero-image-download {
    height: 55rem;
  }
 
}

@media (max-width: 310px){
  h1 {
    font-size: 2rem;
  }

  h2{
    font-size: 1.8rem;  
  }

  #download-recommended {
    padding: .5rem 0;
  }

  #download-recommended h2 {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.4rem;
  }
  
}
